
// <<{ icon-apple

%icon-apple {
  width: 25em;
  height: 29em;
  background-position: -5em -5em;
}

// }>>

// <<{ icon-apple-dark

%icon-apple-dark {
  width: 25em;
  height: 29em;
  background-position: -40em -5em;
}

// }>>

// <<{ icon-play-store

%icon-play-store {
  width: 27em;
  height: 29em;
  background-position: -220em -5em;
}

// }>>

// <<{ icon-play-store-dark

%icon-play-store-dark {
  width: 27em;
  height: 29em;
  background-position: -130em -95em;
}

// }>>
