@use 'sass:map';
@use 'types' as *;

// <<{ _get-opposite() - gets the opposite list element

@function _get-opposite($elem, $i, $list) {
  @return nth($list, length($list) - $i + 1);
}

// }>>

// <<{ _not-equal() - whether map value is not equal to a provided element

@function _not-equal($value, $key, $map, $elem) { @return $value != $elem; }

// }>>

// <<{ deep-merge() - merges two maps into new map

@function deep-merge($map1, $map2) { @return map.deep-merge($map1, $map2); }

// }>>

// <<{ deep-remove() - removes key:value from map

@function deep-remove($map, $key, $keys...) { @return map.deep-remove($map, $key, $keys...); }

// }>>

// <<{ set() - sets new key-value pair

@function set($map, $key, $value) { @return map.set($map, $key, $value); }

// }>>

// <<{ keys() - gets list of map keys

@function keys($map) { @return map.keys($map); }

// }>>

// <<{ values() - gets list of map values

@function values($map) { @return map.values($map); }

// }>>

// <<{ first() - gets first list/map value

@function first($list) {
  $list: validate($list, 'list', 'map');

  @if is($list, 'list') { @return nth($list, 1); }
  @if is($list, 'map') { @return nth(nth($list, 1), 2); }
}

// }>>

// <<{ last() - gets last list/map value

@function last($list) {
  $list: validate($list, 'list', 'map');

  @if is($list, 'list') { @return nth($list, -1); }
  @if is($list, 'map') { @return nth(nth($list, -1), 2); }
}

// }>>

// <<{ is-last() - whether the value of list/map is last

@function is-last($list, $value) {
  $list: validate($list, 'list', 'map');
  @return last($list) == $value;
}

// }>>

// <<{ next-value() - gets next value of list/map

@function next-value($list, $value) {
  $list: validate($list, 'list', 'map');
  $values: if(is($list, 'list'), $list, values($list));
  $i: index($values, $value);

  @if not $i { @error "No such value '#{inspect($value)}' in list"; }
  @if $i == length($values) { @error "Value '#{inspect($value)}' is the last one in list"; }

  @if is($list, 'list') { @return nth($list, $i + 1); }
  @if is($list, 'map') { @return nth(nth($list, $i + 1), 2); }
}

// }>>

// <<{ next-key() - gets next map key

@function next-key($map, $key) {
  $map: validate($map, 'map');
  $keys: keys($map);
  $i: index($keys, $key);

  @if not $i { @error "No such key '#{inspect($key)}' in map"; }
  @if $i == length($keys) { @error "Key '#{inspect($key)}' is the last one in map"; }

  @return nth(nth($map, $i + 1), 1);
}

// }>>

// <<{ to-list() - converts any value to list

@function to-list($value) {
  $list: ();
  @if is($value, 'arglist') { @each $arg in $value { $list: append($list, $arg); } }
  @else if is($value, 'list') { $list: $value; }
  @else { $list: append($list, $value); }

  @return $list;
}

// }>>

// <<{ map() - gets new list/map values from callback results

@function map($list, $cb, $deep: false, $args...) {
  $list: validate($list, 'list', 'map');
  $cb: validate($cb, 'function');

  $result: ();

  @if is($list, 'list') {
    @each $item in $list {
      $result: if(
        $deep and is($item, 'list', 'map'),
        append($result, map($item, $cb, $deep, $args...)),
        append($result, call($cb, $item, index($list, $item), $list, $args...))
      );
    }
  }

  @if is($list, 'map') {
    @each $key, $value in $list {
      $result: if(
        $deep and is($value, 'list', 'map'),
        map.set($result, $key, map($value, $cb, $deep, $args...)),
        map.set($result, $key, call($cb, $value, $key, $list, $args...))
      );
    }
  }

  @return $result;
}

// }>>

// <<{ for-each() - invokes callback for each list/map element

@function for-each($list, $cb, $deep: false, $args...) {
  $list: validate($list, 'list', 'map');
  $cb: validate($cb, 'function');

  $result: null;

  @if is($list, 'list') {
    @each $item in $list {
      $result: if(
        $deep and is($item, 'list', 'map'),
        for-each($item, $cb, $deep, $args...),
        call($cb, $item, index($list, $item), $list, $args...)
      );
    }
  }

  @if is($list, 'map') {
    @each $key, $value in $list {
      $result: if(
        $deep and is($value, 'list', 'map'),
        for-each($value, $cb, $deep, $args...),
        call($cb, $value, $key, $list, $args...)
      );
    }
  }

  @return $result;
}

// }>>

// <<{ reduce() - reduces list to a certain value

@function reduce($list, $cb, $init: null, $args...) {
  $list: validate($list, 'list');
  $cb: validate($cb, 'function');

  $result: if($init, $init, nth($list, 1));
  @each $item in $list {
    $i: index($list, $item);
    @if if($init, true, $i != 1) {
      $result: call($cb, $result, $item, index($list, $item), $list, $args...);
    }
  }

  @return $result;
}

// }>>

// <<{ filter() - gets new list/map from elements that passed filter callback 

@function filter($list, $cb, $deep: false, $args...) {
  $list: validate($list, 'list', 'map');
  $cb: validate($cb, 'function');

  $result: ();

  @if is($list, 'list') {
    @each $item in $list {
      $item: if($deep and is($item, 'list', 'map'), filter($item, $cb, $deep, $args...), $item);
      $passed: if($deep and is($item, 'list', 'map'), true, call($cb, $item, index($list, $item), $list, $args...));

      @if $passed { $result: append($result, $item); }  
    }
  }

  @if is($list, 'map') {
    @each $key, $value in $list {
      $value: if($deep and is($value, 'list', 'map'), filter($value, $cb, $deep, $args...), $value);
      $passed: if($deep and is($value, 'list', 'map'), true, call($cb, $value, $key, $list, $args...));

      @if $passed { $result: map.set($result, $key, $value); }  
    }
  }

  @return $result;
}

// }>>

// <<{ remove() - removes list/map value if it is there

@function remove($list, $value) {
  $list: validate($list, 'list', 'map');
  @return filter($list, get-function('_not-equal'), false, $value);
}

// }>>

// <<{ map-keys() - gets new map keys from callback results

@function map-keys($map, $cb, $args...) {
  $map: validate($map, 'map');
  $cb: validate($cb, 'function');

  $result: ();
  @each $key, $value in $map {
    $result: map.set($result, call($cb, $key, $value, $map, $args...), $value);
  }

  @return $result;
}

// }>>

// <<{ map-to-map() - gets new map from callback results, which returns (newKey: newValue)

@function map-to-map($map, $cb, $args...) {
  $map: validate($map, 'map');
  $cb: validate($cb, 'function');

  $result: ();
  @each $key, $value in $map {
    $result: map-merge($result, call($cb, $value, $key, $map, $args...));
  }

  @return $result;
}

// }>>

// <<{ map-to-list() - gets list from callback return, which invokes on every key:value of given map

@function map-to-list($map, $cb, $args...) {
  $map: validate($map, 'map');
  $cb: validate($cb, 'function');

  $result: ();
  @each $key, $value in $map {
    $result: append($result, call($cb, $value, $key, $map, $args...));
  }

  @return $result;
}

// }>>

// <<{ list-to-map() - gets map from callback return, which invokes on list items and returns (key: value)

@function list-to-map($list, $cb, $args...) {
  $list: validate($list, 'list');
  $cb: validate($cb, 'function');

  $result: ();
  @each $elem in $list {
    $result: map-merge($result, call($cb, $elem, index($list, $elem), $list, $args...));
  }

  @return $result;
}

// }>>

// <<{ reverse() - reverses list

@function reverse($list) {
  $list: validate($list, 'list');
  @return map($list, get-function('_get-opposite'));
}

// }>>

// <<{ join-to-str() - joins list values to string

@function join-to-str($list, $sep: '') {
  $list: validate($list, 'list');
  $sep: validate($sep, 'string');
  $first: nth($list, 1);

  @return if(length($list) == 1, #{$first}, #{$first} + $sep + join-to-str(remove($list, $first), $sep));
}

// }>>
