@use '../functions' as *;
@use '../mixins' as *;

@mixin b-burger($action: 'content', $args...) {
  .b-burger {
    @include common-actions($action, $args...) { @content; };

  // <<{ main

    @if $action == 'main' {

      padding: size(10);
      border: size(1) solid var(--c-header-text);
      border-radius: size(6);

      color: var(--c-header-text);

      transition: var(--d-all);

      &:hover {
        border-color: var(--c-active);
        color: var(--c-active);
      }

      &__icon {
        font-size: size(33);
        line-height: size(35);
      }

    }

  // }>>

  }
}

