@use 'sass-scripts/functions' as *;
@use 'sass-scripts/mixins' as *;

@mixin b-header-text($action: 'content', $args...) {
  .b-header-text {
    @include common-actions($action, $args...) { @content; };

  // <<{ main

    @if $action == 'main' {

      max-width: size(670);

      &__header {
        font-family: var(--ff-header);
        font-weight: var(--fw-light);
        font-size: size(36);
        line-height: size(52);
        color: var(--c-header-text);
        text-transform: uppercase;
      }

      &__header-bold {
        display: block;

        font-weight: var(--fw-bold);
        font-size: size(48);
      }

      &__header-light {
        font-weight: var(--fw-light);
      }

      &__header-accent {
        color: var(--c-accent);
      }

      &__text {
        margin-top: size(20);

        font-family: var(--ff-header);
        font-weight: var(--fw-regular);
        font-size: size(18);
        line-height: size(30);
        color: var(--c-header-text);
      }

    }

  // }>>

  }
}

