<style>
  @font-face {
    font-family: 'Proxima Nova Rg';
    src: url('{{ site.data.path.proximanova }}ProximaNova-Regular.eot');
    src: local('Proxima Nova Regular'), local('ProximaNova-Regular'),
      url('{{ site.data.path.proximanova }}ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
      url('{{ site.data.path.proximanova }}ProximaNova-Regular.woff') format('woff'),
      url('{{ site.data.path.proximanova }}ProximaNova-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Proxima Nova Rg';
    src: url('{{ site.data.path.proximanova }}ProximaNova-Bold.eot');
    src: local('Proxima Nova Bold'), local('ProximaNova-Bold'),
      url('{{ site.data.path.proximanova }}ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
      url('{{ site.data.path.proximanova }}ProximaNova-Bold.woff') format('woff'),
      url('{{ site.data.path.proximanova }}ProximaNova-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
  }
</style>
