<style>
  @font-face {
    font-family: 'Proxima Nova Rg';
    src: url('{{ site.data.path.proximanova }}ProximaNova-Regular.eot');
    src: local('Proxima Nova Regular'), local('ProximaNova-Regular'),
      url('{{ site.data.path.proximanova }}ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
      url('{{ site.data.path.proximanova }}ProximaNova-Regular.woff') format('woff'),
      url('{{ site.data.path.proximanova }}ProximaNova-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Proxima Nova Rg';
    src: url('{{ site.data.path.proximanova }}ProximaNova-Bold.eot');
    src: local('Proxima Nova Bold'), local('ProximaNova-Bold'),
      url('{{ site.data.path.proximanova }}ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
      url('{{ site.data.path.proximanova }}ProximaNova-Bold.woff') format('woff'),
      url('{{ site.data.path.proximanova }}ProximaNova-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
  }

  @font-face {
    font-family: 'Font Awesome 5 Brands';
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: url("{{ site.data.path.fa }}fa-brands-400.eot");
    src: url("{{ site.data.path.fa }}fa-brands-400.eot?#iefix") format("embedded-opentype"),
      url("{{ site.data.path.fa }}fa-brands-400.woff2") format("woff2"),
      url("{{ site.data.path.fa }}fa-brands-400.woff") format("woff"),
      url("{{ site.data.path.fa }}fa-brands-400.ttf") format("truetype"),
      url("{{ site.data.path.fa }}fa-brands-400.svg#fontawesome") format("svg");
  }

  @font-face {
    font-family: 'Font Awesome 5 Free';
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: url("{{ site.data.path.fa }}fa-regular-400.eot");
    src: url("{{ site.data.path.fa }}fa-regular-400.eot?#iefix") format("embedded-opentype"),
      url("{{ site.data.path.fa }}fa-regular-400.woff2") format("woff2"),
      url("{{ site.data.path.fa }}fa-regular-400.woff") format("woff"),
      url("{{ site.data.path.fa }}fa-regular-400.ttf") format("truetype"),
      url("{{ site.data.path.fa }}fa-regular-400.svg#fontawesome") format("svg");
  }

  @font-face {
    font-family: 'Font Awesome 5 Free';
    font-style: normal;
    font-weight: 900;
    font-display: block;
    src: url("{{ site.data.path.fa }}fa-solid-900.eot");
    src: url("{{ site.data.path.fa }}fa-solid-900.eot?#iefix") format("embedded-opentype"),
      url("{{ site.data.path.fa }}fa-solid-900.woff2") format("woff2"),
      url("{{ site.data.path.fa }}fa-solid-900.woff") format("woff"),
      url("{{ site.data.path.fa }}fa-solid-900.ttf") format("truetype"),
      url("{{ site.data.path.fa }}fa-solid-900.svg#fontawesome") format("svg");
  }
</style>
